<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170343071450-8lakfdfhgek8o3o5hn1sfcmauoimdun2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170343071450-8lakfdfhgek8o3o5hn1sfcmauoimdun2</string>
	<key>API_KEY</key>
	<string>AIzaSyDqe7WGL03HdsZ-JHvii4f0KeD_yFHWqgA</string>
	<key>GCM_SENDER_ID</key>
	<string>170343071450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.finwallet</string>
	<key>PROJECT_ID</key>
	<string>saamarth-4cacd</string>
	<key>STORAGE_BUCKET</key>
	<string>saamarth-4cacd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170343071450:ios:b8dbb6ae1da4bb83aa6fe3</string>
</dict>
</plist>